@CHARSET "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
    color: #383838;
}

h1 {
    margin: 0;
    padding: 10px;
    box-shadow: 0px 0px 10px #bebec0;
    background-color: white;
    border-bottom: 1px solid #bebec0;
}

.red {
    color: #EE3E12;
}

h1, h1 .red{
    font-size: 34px;
}

h1 a {
    text-decoration: none;
}

h2 {
    padding: 0;
    background: #fcfcfc;
    font-size: 18px;
}

#content-wrapper h2 {
    padding: 1%;
}

#content-wrapper h2 span {
    color: #EE3E12;
}

#content-wrapper h2 span:first-child {
    text-transform: capitalize;
    color: #383838;
}

a{
    text-decoration: none;
}

a:hover {
    color: #888787;
}

.clear{
    clear: both;
    display: block;
    float: none;
}

.error{
    background-color: #661111; 
    color: white; 
    border: 1px solid red; 
    margin: 10px; 
    padding: 10px;
}

#sidebar-left {
    float: left;
    width: 20%;
    height: 100%;
    background: #555;
    padding: 1%;
    box-shadow: 0px 3px 10px #bebec0;
}

#sidebar-left h2 {
    text-align: center;
}

#content-wrapper {
    float: left;
    width: 76%;
    height: 100%;
    padding: 1%
}

ul li {
    list-style-type: none;
}

.actions-list li {
    display: inline-block;
    margin: 0 1% 0 0;
}

.list li a{
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #fcfcfc;
    box-shadow: 1px 1px 3px #bebec0;
}

tr, th, td {
    padding: 1%;
}

table thead tr {
    background-color: white;
    border-bottom: 1px solid #fcfcfc;
}

table thead th {
    margin: 0;
    text-align: left;
}

table tbody tr:nth-child(2n) {
    background: #fcfcfc;
}

.tablename {
    color: #EE3E12;
}